*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden;
}

.App {
  color: #000;
  background-image: url(./assets/images/guy.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position : center;
  box-shadow: rgba(0, 0, 0, 0.6);
  background-color: #ffffff;
  height: 100vh
}

#root{
  height: 100%;

}



