*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'lato', sans-serif;
  font-size: 12px;
}

body{
  overflow-x: hidden;
}

.App {
  color: #000;
}

#root{
  height: 100%;
}








@media (max-width: 768px) {
  #root{
    height:auto;
  }
  .project_grid{
    position: relative;
    left:0;
  }
}


