body.contact {
  overflow-y: hidden;
}

body.black-background .black-logo {
  filter: invert(1);
}

body.cv,
body.contact {
  background-color: black;
  color: #fff;
}

body .black-logo {
  filter: invert(1);
}

@media (max-width: 768px) {
  body.contact {
    overflow-y: auto;
  }
}
