@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base{
  @font-face {
    font-family: "sf-pro-display";
    src: "./assets/fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF";
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "sf-pro-display";
    src: "./assets/fonts/sf-pro-display/SFPRODISPLAYMEDIUM.OTF";
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "sf-pro-display";
    src: "./assets/fonts/sf-pro-display/SFPRODISPLAYBOLD.OTF";
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }
}



