#landing-body{
    background-image: url(./assets/images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position : center;
    box-shadow: rgba(0, 0, 0, 0.6);
    // background-color: #ffffff;
    height: 100vh;
}

.continue{
    position: absolute;
    bottom: 14%;
}

@media (max-width: 768px) {
    #landing-body{
        background-size: cover;
        overflow: hidden !important;
    }
}

