#landing-body{
    background-image: url(./assets/images/guy.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position : center;
    box-shadow: rgba(0, 0, 0, 0.6);
    background-color: #ffffff;
    height: 100vh;
}

.continue{
    position: absolute;
    bottom: 14%;
}


