@import 'darkStyle.scss';



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'lato', sans-serif;
    font-size: 12px;
}

html{
    scroll-behavior: smooth;
}


.main_header{
    height:100px;
    line-height: 80px;
    position:fixed;
    bottom:0%;
    left:38.5%;
}

.main_header a:hover{
    color: #C32F27;
}

.logo{
    position: fixed;
    left:42%;
    bottom: -2%;
}

.main_header a:hover{
    color: #C32F27;
}

#next{
  position: relative;
  bottom: 10% !important;
}


#artistdp {
  width: 100%;
  position: relative;
  right: 5%;
}

#artistdp video{
  border-radius: 22px;
  box-shadow: inset;
}


.abt_header h1 {
  font-weight: 1000;
  font-size: 22px;
}

.abt_header p{
  position: relative;
  right: 10%;
}

#abt_content {
  height: 80vh;
  line-height: 24px;
  border: 1px solid #ffffff;
}

.b_logo{
  position: relative;
  right:11%;
}











@media (max-width: 768px) {
    .mobile-menu-button {
      display: block;
      position: relative !important;
      left: 22% !important;
    }
  
    #mobile-menu {
      display: none;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 60px; 
      right: 0;
      left: 0;
      background-color: white;
      z-index: 999;
      border-top: 1px solid #ccc;
    }
  
    #mobile-menu.active {
      display: flex;
    }
  
    .nav-menu-wrapper{
      display:none;
    }
  
    .cta--text h6{
      font-size: smaller !important;
    }
  
    .cta--text h3{
      font-size: medium !important;
    }
  
  }
    

@media (max-width: 500px){
  .banner-desc, .abt-desc{
    position: relative;
    top: 20%;
  }
  .spaced_title{
    font-size: large !important;
  }
  .gold_title{
    font-size:xx-large;
    line-height: normal;
  }
  
  .logo{
    position: relative;
    right: 32%;
  }

  .login{
    position: relative;
    left: 7%;
  }

  .consult{
    flex-direction: column-reverse;
  }

  .consult .imgbox{
    position: relative !important;
    right: 14% !important;
  }

  .spaced{
    position: relative;
    left: 10%;
  }

  #artistdp {
    position: relative !important;
    right: 0px !important;
  }

  .abt_header p{
    position: relative;
    right: 0%;
    top: -30% !important;
  }
}