@import "darkStyle.scss";



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "lato", sans-serif;
    font-size: 12px;
}

html{
    scroll-behavior: smooth;
}


.main_header {
  height: 100px;
  line-height: 96px;
  position: absolute;
  bottom: 0%;
  left: 38.2%;
  color: #777777 !important;
}

.main_header nav a:hover {
  color: #C32F27;
  margin-top: -5%;
}


.logo{
    position: absolute;
    left:21%;
    bottom: -2%;
}


.main_header a:hover{
    color: #C32F27;
}


#artistdp {
  width: 90%;
  position: relative;
  left: 5%;
}

.abt_header h1 {
  font-weight: 1000;
  font-size: 22px;
}

.abt_header p{
  position: relative;
  right: 10%;
  margin: auto;
}

#abt_content {
  height: 70vh;
  line-height: 24px;
}

.contact_header{
  background-image: url("../src/assets/images/projects/9.jpg"),
  url("../src/assets/images/projects/4.png"),
  url("../src/assets/images/projects/14.jpg");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.b_logo{
  position: relative;
  right:11%;
}

.bt{
  background-color: #C32F27 !important;
}

.bt:hover{
  background-color: rgb(169, 172, 176) !important;
}

.text-white {
  color: #fff !important;
}

.text-black {
  color: #000 !important;
}


.containerd {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.h-full {
  width: 100%;
}

.project_grid {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr)); 
  gap: 10px;
  justify-content: center;
  align-items: center;
  position: relative;
  left:10%;
}


.image-container {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 10px; 
}

.image-title {
  text-align: center;
  z-index: 1;
  padding: 10px;
}




@media (max-width: 768px) {
    .mobile-menu-button {
      display: block;
      position: relative !important;
      left: 15% !important;
      top: -5%;
    }
  
    #mobile-menu {
      display: none;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 60px; 
      right: 0;
      left: 0;
      // background-color: #ffffff;
      z-index: 999;
      border-top: 1px solid #ccc;
    }
  
    #mobile-menu.active {
      display: flex;
    }

    .nav-menu-wrapper{
      display:none;
    }

    .nav-icon{
      display: grid;
    }

    .logo{
      margin-top: -4%; 
      margin-left: -58%;
    }
  
    

    

    .cta--text h6{
      font-size: smaller !important;
    }
  
    .cta--text h3{
      font-size: medium !important;
    }
  
  }
    

@media (max-width: 500px){
  .banner-desc, .abt-desc{
    position: relative;
    top: 20%;
  }
  .spaced_title{
    font-size: large !important;
  }
  .gold_title{
    font-size:xx-large;
    line-height: normal;
  }
  
  .logo{
    position: relative;
    right: 32%;
    bottom: 50%;
  }

  .login{
    position: relative;
    left: 7%;
  }

  .consult{
    flex-direction: column-reverse;
  }

  .consult .imgbox{
    position: relative !important;
    right: 14% !important;
  }

  .spaced{
    position: relative;
    left: 10%;
  }

  #artistdp {
    position: relative !important;
    right: 0px !important;
  }

  .abt_header p{
    position: relative;
    right: 0%;
    top: -30% !important;
  }
}

