.typewriter-banner {
    display: flex;
    justify-content: center;
    height: 6rem; 
    background-color: transparent;
  }
  
  .typewriter-text {
    font-size: 1.5rem;
    font-weight: light;
    opacity: 0;
    animation: typewriter-anim 1s linear forwards;
  }
  
  .typewriter-text.show {
    opacity: 1;
  }
  
  @keyframes typewriter-anim {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  