@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base{
  @font-face {
    font-family: 'lato';
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'lato';
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'lato';
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }
}



